.container{
    background-color: aqua;
    color: black;
    margin-top: 20px;
    background-color: beige;
   
}
.cabeceraTotal{
    width: 90%;
   height: 115px;
   margin: auto;
}
#cabecera{
    margin: auto;
    display: flex;
    flex-grow: 4;
    justify-content: space-between;

}
#imgCabecera{
    width:190px;
    height:100px;
    border-radius:150px;
}
