.container {
    color: black;
    margin-top: 20px;
}

.cabeceraTotal {
    width: 90%;
    height: 115px;
    margin: auto;
    background-color: #5096C3;
    border-radius: 47px 47px 47px 47px;
    -moz-border-radius: 47px 47px 47px 47px;
    -webkit-border-radius: 47px 47px 47px 47px;
    border: 0px solid #000000;
    display: flex;
    flex-grow: 4;
    justify-content: space-around;
}

h2 {
    font-family: Georgia, serif;
    font-size: 19px;
    letter-spacing: 1.8px;
    word-spacing: 0.2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.nav-link {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 16px;
    letter-spacing: 1.2px;
    word-spacing: -0.6px;
    color: #000000;
    font-weight: 400;
    text-decoration: rgb(68, 68, 68);
    font-style: italic;
    font-variant: small-caps;
    text-transform: none;
}

#compraLibro {
    margin-top: 6%;
    width: 60%;
    -webkit-box-shadow: 0px 0px 300px -19px rgba(80, 151, 195, 0.59);
    -moz-box-shadow: 0px 0px 300px -19px rgba(80, 151, 195, 0.59);
    box-shadow: 0px 0px 300px -19px rgba(80, 151, 195, 0.59);


    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 0px solid #000000;
}

#formulariosVarios {
    margin-top: 6%;
    width: 80%;
    -webkit-box-shadow: 0px 0px 300px -19px rgba(80, 151, 195, 0.59);
    -moz-box-shadow: 0px 0px 300px -19px rgba(80, 151, 195, 0.59);
    box-shadow: 0px 0px 300px -19px rgba(80, 151, 195, 0.59);


    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 0px solid #000000;
}

#titulo {
    margin-top: 100px;
}

#cabecera {
    margin: auto;

}

#imgCabecera {
    width: 190px;
    height: 100px;
    border-radius: 150px;
}

.cuerpo {
    width: 90%;
    margin: auto;
    /* background-color: red;*/
    margin-top: 20px;
}

#libros {
    margin-top: 8%;
}

.footer {
    margin: auto;
    margin-top: 20px;
    width: 100%;
    background-color: #5096C3;
    border-radius: 47px 47px 47px 47px;
    -moz-border-radius: 47px 47px 47px 47px;
    -webkit-border-radius: 47px 47px 47px 47px;
    border: 0px solid #000000;
}

#mapa {
    margin: auto;
    width: 10%;
}


.centrado {
    display: flex;
    justify-content: center;

}


.pagHijo button {
    margin: auto;

}

a.btn {
    background-color: #5096C3;
    margin: auto;
    display: flex;
    padding: 8px;
    font-family: 'Times New Roman';
    font-size: 120%;
    border-radius: 74px 74px 74px 74px;
    -moz-border-radius: 74px 74px 74px 74px;
    -webkit-border-radius: 74px 74px 74px 74px;
    border: 0px solid #000000;
    width: 60%;
}

a.btn.btn-primary:hover,
button.btn-primary:hover {

    background-color: white;
    color: #5096C3;
    margin: auto;
    display: flex;
    padding: 8px;
    font-family: 'Times New Roman';
    font-size: 120%;

}

button.btn-primary {
    background-color: #5096C3;
    margin: auto;
    display: flex;
    padding: 8px;
    font-family: 'Times New Roman';
    font-size: 120%;
    border-radius: 74px 74px 74px 74px;
    -moz-border-radius: 74px 74px 74px 74px;
    -webkit-border-radius: 74px 74px 74px 74px;
    border: 0px solid #000000;
}

div.card {
    -webkit-box-shadow: 3px 6px 16px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 6px 16px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 6px 16px -1px rgba(0, 0, 0, 0.75);
    border-radius: 9px 9px 71px 71px;
    -moz-border-radius: 9px 9px 71px 71px;
    -webkit-border-radius: 9px 9px 71px 71px;
    border: 0px solid #000000;
    padding: 5px;
}

.card-text.anotherclass {
    margin: auto;
    text-align: center;
    padding: 7px;
    font-size: small;
    font-style: initial;
    font-family: sans-serif;
    font-size: 10px;
}

.card-text.anotherclase {
    margin: auto;
    text-align: center;
    padding: 10px;
    font-size: larger;
    font-style: italic;
    font-family: monospace;
    font-size: 20px;

}

.pagHijo {
    margin: auto;
    margin-top: 40px;
}

/*estilos para cookies*/
@keyframes desaparecer {
    0% {
        bottom: 0px;
    }

    80% {
        bottom: 0px;
    }

    100% {
        bottom: -50px;
    }
}

@-webkit-keyframes desaparecer

/* Safari and Chrome */
    {
    0% {
        bottom: 0px;
    }

    80% {
        bottom: 0px;
    }

    100% {
        bottom: -50px;
    }
}

@keyframes aparecer {
    0% {
        bottom: -38px;
    }

    10% {
        bottom: 0px;
    }

    90% {
        bottom: 0px;
    }

    100% {
        bottom: -38px;
    }
}

@-webkit-keyframes aparecer

/* Safari and Chrome */
    {
    0% {
        bottom: -38px;
    }

    10% {
        bottom: 0px;
    }

    90% {
        bottom: 0px;
    }

    100% {
        bottom: -38px;
    }
}

#cookiesms1:target {
    display: none;
}

.cookiesms {
    width: 100%;
    height: 43px;
    margin: 0 auto;
    padding-left: 1%;
    padding-top: 5px;
    font-size: 1.2em;
    clear: both;
    font-weight: strong;
    color: #333;
    bottom: 0px;
    position: fixed;
    left: 0px;
    background-color: #FFF;
    opacity: 0.7;
    filter: alpha(opacity=70);
    /* For IE8 and earlier */
    transition: bottom 1s;
    -webkit-transition: bottom 1s;
    /* Safari */
    -webkit-box-shadow: 3px -3px 1px rgba(50, 50, 50, 0.56);
    -moz-box-shadow: 3px -3px 1px rgba(50, 50, 50, 0.56);
    box-shadow: 3px -3px 1px rgba(50, 50, 50, 0.56);
    z-index: 999999999;
}

.cookiesms:hover {
    bottom: 0px;
}

.cookies2 {
    background-color: #FFF;
    display: inline;
    opacity: 0.95;
    filter: alpha(opacity=95);
    position: absolute;
    left: 1%;
    top: -30px;
    font-size: 15px;
    height: 30px;
    padding-left: 25px;
    padding-right: 25px;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-top-left-radius: 15px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-topleft: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    -webkit-box-shadow: 3px -3px 1px rgba(50, 50, 50, 0.56);
    -moz-box-shadow: 3px -3px 1px rgba(50, 50, 50, 0.56);
    box-shadow: 3px -3px 1px rgba(50, 50, 50, 0.56);
}

/* Fin del CSS para cookies */